* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto mono',monospace;
}
.container{
    background-color: aqua;
    padding: 60px 0;
    width: 40%;
    min-width: 500px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.timerDisplay{
    background-color: bisque;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

.buttons{
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}